@import "../../../index.css";    /* Root styles */

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h1{
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: .1rem;
}

.email-input, .password-input, .username-input{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'mon';
    font-size: 1rem;
    min-width: 20%;
    padding: 10px 20px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    outline: none;
}

.email-input{
    margin-top: 0px;
}

.password-input{
    margin-top: 10px;
}

.error-message-div{
    margin-top: 15px;
    min-height: 20px;
    font-weight: 500;
}

.forgot-password-div{
    margin-top: 25px;
    margin-bottom: 15px;
    color: black;
    font-size: .85rem;
    font-weight: 400;
    cursor: pointer;
}

.forgot-password-div:hover{
    color:var(--secondary-color);
}

.sign-in-button, .sign-up-button{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'mon';
    height: 40px; 
    min-width: 20%;
    width: 50%;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    margin-bottom: 30px;
}

.sign-in-button:hover{
    filter: brightness(.85);
}

.sign-in-button:active{
    filter: brightness(.75);
}