@import "../../../index.css";    /* Root styles */

:root{
    --nav-size: 60px;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.navbar-div{
    min-height: var(--nav-size);
    min-width: 700px;
    background-size: auto;
    color: var(--secondary-color);
    background-color: var(--bg);
    display:flex;
    justify-content: space-between;
}

.paw-div{
    /* margin-left: 50%; */
    margin: auto;
    display:flex;
}

.navbar-div h1{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.paw-div svg{
    height: auto;
    width: 10.5%;
    min-width: 75px;
}

.navbar {
    padding: 0 1rem;
}

.navbar-nav{
    height: 100%;
    display: flex;
}

.nav-item{
    width: calc(var(--nav-size) * .98);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * .5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--secondary-color);
    border-radius: 10%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button svg {
    fill: var(--bg);
    width: 20px;
    height: 20px;
}

.icon-button:hover {
    filter: brightness(1.2);
}

/* Dropdown Menu */
.dropdown {
    position: absolute;
    top: 65px;
    width: 250px;
    transform: translateX(-45%);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
}

.menu-item{
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: .5rem;
    color: var(--bg);
    font-weight: 400;
    letter-spacing: .1rem;
}

.menu-item:hover {
    background-color: var(--bg);
    color: var(--secondary-color);
    /* font-weight: 600; */
}