@import "../../../index.css";    /* Root styles */

.messages-page-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 90%;
}

.petnames-display{
    background-color: var(--bg);
    border-radius: 10px;

    /* Below are temps (maybe) until we get data populating */
    min-width: 300px;
    max-width: fit-content;
    min-height: 350px;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 15px;

    overflow-y: scroll;
    overflow-x: hidden;

    box-shadow: var(--shadow);
}

/* Scrollbar in friends container */
.petnames-display::-webkit-scrollbar {
    width: 10px;
}

.petnames-display::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background: var(--secondary-color);
}

.petnames-display::-webkit-scrollbar-thumb:hover{
    background: var(--secondary-color-hover);
}

.petnames-display h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 400;
    letter-spacing: .1rem;
}

.spacer{
    width: 90%; 
    border-color: var(--secondary-color);
    border-style: solid;
}

/* Styling the individual friends in the Messages container here */
.petnames-display .individual-friend-div-container h1{
    font-size: 1rem;
}

.user-list-div{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* Stylind the dropdown menu that contains the user here */
.user-list-div-select {
    width: 70%;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--bg);
    font-family: inherit;
    font-size: .85rem;
    font-weight: 500;
}

.user-list-div select:focus {
    outline: none;
}

.messages-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--bg);
    max-width: 750px;
    width: 50%;
    max-height: 900px;
    height: 90%;
    min-height: 250px;
    box-shadow: var(--shadow);
}

.messages-container-title-div{
    display: flex;
    flex-direction: column;
}

.messages-container-title-div h1{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
}

.messages-container-title-div h2{
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
}

.chat-input-form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.chat-input{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'mon';
    font-size: .75rem;
    flex:1;
    padding: 10px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    height: 20px;
    max-height: 20px;
    max-width: 100%;
}

.chat-input-submit-button{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'mon';
    height: 40px; 
    width: 100px;
    border: none;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: none;
    cursor: pointer;
}

.chat-input-submit-button:hover{
    filter: brightness(.85);
}

.chat-input-submit-button:active{
    filter: brightness(.75);
}

/* Message container that shows chat messages */
.messages-container-display-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--primary-color);
    border-radius: 5px;
    width: 80%;
    height: 800px;
    min-height: 50px;
    max-height: 95%;
    max-width: 90%;
    overflow: hidden;
}

/* The chat-message-container is the individual container that contains the date object, the chat message, and whatever else */
.chat-message-container{
    width: 100%;
}

.chat-date{
    margin-left:10px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: .75rem;
}

.chat-message{
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: .95rem;
    filter:brightness(.5);
}