.furevercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.furever {
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  margin: 10px;
  width: 450px;

  font-family: touse;

  transition-property: box-shadow;
  transition-duration: 0.25s;
}

.furever:hover {
  box-shadow: 0 0 15px grey;
}

.sepline {
  height: 1px;
  width: 100%;
  background-color: rgb(230, 230, 230);
  margin-top: 5px;
}

.fureverinfo {
  padding: 10px;
  cursor: default;
}

.city {
  font-weight: bold;
  font-size: 12px;
}

.furevername {
  font-size: 20px;
}

.fureverhomes {
  font-size: 15px;
}

.fureverprefs {
  margin: 2px;
  border: 1px solid grey;
}

.fureverfilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: touse;
  padding: 10px;
}

.fureverstats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 10px;
  cursor: default;

  transition-property: background-color, color;
  transition-duration: 0.25s;
}

.fureverstats:hover {
  background-color: cornflowerblue;
  color: white;
}