@import "../../../index.css";    /* Root styles */

.nameplate-container{
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-container{
    display: flex;
    margin-right: 10px;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.img-container img{
    position: absolute;
    width: auto;
    height: 130%;
    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nameplate-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nameplate-text-container h1{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: -15px;
}

.nameplate-text-container h2{
    color: var(--text-color);
    font-size: .9rem;
    font-weight: 300;
    margin-left: 2px;
}