@import "../../../index.css";    /* Root styles */

.posts-container{
    display: flex;
    max-width: 45%;
    flex-direction: column;

    min-width: 600px;
}

.post-input-container{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    margin: 25px;
    border-radius: 10px;

    box-shadow: var(--shadow);
}

.post-as-container{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: -12px;
}

/* Post as dropdown menu */
.post-as-pet-name {
    margin-left: 15px;
}

/* Style the inside of the 'Post as' dropdown menu here */
.post-as-pet-name select {
    max-width: 350px;
    padding: 2px;
    min-width: 200px;
    border-style: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--bg);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
}

.post-as-container h1{
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 400;
}

/* .post-input-container textarea:focus{
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color);
} */

.post-as-container select:focus {
    outline: none;
}

.post-text{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'mon';
    font-size: .85rem;

    padding: 10px;
    margin: 10px;
    margin-left: 15px;
    width: 90%;
    min-width: 100px;
    min-height: 50px;
    max-height: 200px;
    max-width: 90%;
    border: none;
    border-radius: 4px;
    outline: none;
}

.post-button-container{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin-bottom: 7px;
}

.post-button-container{
    margin-right: 30px;
}

.post-button-container h1{
    color: var(--text-color);
    font-weight: 500;
    font-size: .7rem;
    letter-spacing: .05rem;
    margin-right: 5px;
}

.post-button-container svg{
    fill: var(--secondary-color);
    width: 20px;
    height: 20px;
}

.individual-post{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    margin: 25px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

/* Style individual nameplate with this css tag */
.individual-post-nameplate-div .nameplate-container{
    zoom: .75;  /* Make nameplate slightly smaller with zoom */
    margin-top: 35px;
    margin-left: 45px;
    margin-bottom: 0px;
}

.individual-post-nameplate-div .nameplate-container h2{
    font-weight: 500;
}

.individual-post-status-container{
    display: flex;
    margin-left: 35px;
    flex-direction: column;
    align-items: center;
}

.individual-post-status-container p{
    font-size: .9rem;
    color: var(--text-color);
    text-align: left;
}

.individual-post-status-container img{
    height: auto;
    width: 300px;
    border-radius: 5px;
    opacity: .85;
    margin-right: 35px;  /* Only here to counter the margin-left or else center looks messed up  */
}

.spacer{
    width: 90%; 
    border-color: var(--secondary-color);
    border-style: solid;
}

.individual-post-likeshare-container{
    display: flex;
    margin-left: 35px;
    margin-bottom: 7px;
}

.like-container, .share-container{
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.like-container:hover, .share-container:hover, .post-button-container:hover{
    filter: brightness(.5);
}

.like-container h1, .share-container h1{
    color: var(--text-color);
    font-weight: 500;
    font-size: .7rem;
    letter-spacing: .05rem;
    margin-left: 5px;
}

.like-container svg{
    fill: #ffb8b8;
    width: 20px;
    height: 20px;
}

.share-container{
    margin-left: 15px;
}

.share-container svg{
    fill: var(--secondary-color);
    width: 20px;
    height: 20px;
}