@import "../../../index.css"; /* Root styles */

.create-info-container{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    align-items: flex-start;
    min-width: fit-content;
    width: 50%;
    max-width: 750px;
    margin-top: 25px;
    box-shadow: var(--shadow);
    padding: 25px;
}

.create-info-container h1{
    color: var(--text-color);
    font-weight: 500;
}

.create-info-container .body-container{
    margin: 0;
    width: 100%;
    align-self: center;
}

.create-info-container .body-container .input-container{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 25px;
    align-items: flex-start;
    width: 100%;
}

.create-info-container .body-container .input-container select{
    min-width: 300px;
}

.create-info-container .body-container .input-container input{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'mon';
    height: 40px; 
    width: 150px;
    max-height: 35px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.create-info-container .body-container .input-container input:hover{
    filter: brightness(.85);
}

.create-info-container .body-container .input-container input:active{
    filter: brightness(.75);
}

/* Facts list styling starts here */
.create-info-container .create-selected-container{
    width: 100%;
    max-width: 750px;
}

.create-info-container .create-selected-container .selected-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    max-width: fit-content;
}

.create-info-container .create-selected-container .selected-container .item-container{
    display: flex;
    flex: 50%;
}

.create-info-container .create-selected-container .selected-container .item-container .checkbox-container{
    display: flex;
    align-items: center;
    width: 100%;
    min-width: fit-content;
}

.create-info-container .selected-container .item-container .checkbox-container img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.create-info-container .selected-container .item-container .checkbox-container p{
    margin-left: 5px;
}

.create-info-container .selected-container .item-container input{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'mon';
    height: 40px; 
    max-height: 35px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fa8585;
}

.create-info-container .selected-container .item-container input:hover{
    filter:brightness(.75);
}

.create-info-container .selected-container .item-container input:active{
    filter: brightness(.5);
}


@media only screen and (max-width: 1000px){
    .create-info-container .body-container .input-container{
        flex-direction: column;
    }

    .create-info-container .body-container .input-container select{
        align-self: center;
        margin-bottom: 5px;
        min-width: 100%;
    }


    .create-info-container .body-container .input-container input{
        margin: 0;
        align-self: center;
    }

    .create-info-container .create-selected-container .selected-container{
        justify-items: center;
        align-content: center;
    }

    .create-info-container .create-selected-container .selected-container .item-container{
        flex: 100%;
    }
}