@import "../../../index.css";    /* Root styles */

.petplate-container{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    justify-content: center;
    min-width: 475px;
    width: 50%;
    max-width: 750px;
    height: 400px;
    margin-top: 25px;
    position: relative;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.petplate-container .availability-container{
    display: flex;
    align-self: flex-end;
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 500;
}

.profile-pic-container{
    display: flex;
    align-items: center;
}

.profile-pic-container .profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 40px;
}

 .profile-pic-container .profile-pic img{
    position: absolute;
    width: auto;
    height: 130%;
    opacity: 0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pet-info-container{
    margin-left: 25px;
    color: var(--text-color);
    text-transform: capitalize;
}

.pet-info-container h1,h3{
    margin: 0;
    text-align: left;
}

.pet-info-container h1{
    font-weight: 500;
}

.pet-info-container h3{
    font-weight: 400;
}

.contact-container{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.contact-container .follow-text-div{
    margin-right: 20px;
    cursor: pointer;
}

.contact-container .follow-text-div a:hover{
    font-weight: 500;
    filter:brightness(.2);
}

.contact-container .message-text-div a:hover{
    font-weight: 500;
    filter:brightness(.2);
}