@import "../../../index.css";    /* Root styles */

.petplate-container{
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    justify-content: center;
    min-width: 475px;
    width: 50%;
    max-width: 750px;
    height: 400px;
    margin-top: 25px;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.availability-container{
    display: flex;
    align-self: flex-end;
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 500;
}

.profile-pic-container{
    display: flex;
    align-items: center;
}

.profile-pic-container .profile-pic{
    margin-left: 40px;
    width: 35%;
    max-width: 40%;
}

 .profile-pic-container .profile-pic img{
    width: 100%;
}

.pet-info-container{
    margin-left: 25px;
    color: var(--text-color);
    text-transform: capitalize;
}

.pet-info-container h1,h3{
    margin: 0;
    text-align: left;
}

.pet-info-container h1{
    font-weight: 500;
}

.pet-info-container h3{
    font-weight: 400;
}

.contact-container{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.contact-container .follow-text-div{
    margin-right: 20px;
    cursor: pointer;
}

.contact-container .follow-text-div:hover{
    filter: brightness(.65);
}

.contact-container .message-text-div:hover{
    filter: brightness(.65);
}